<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.classboard.view.classList.mapper.ClassListMapper">
  	<select id="selectClassList" resultType="com.classboard.view.classList.vo.ClassVO">
			select class_seq
					 , class_name
					 , in_dtm
			from tb_class_board
			where delete_yn = 'N'
		  order by in_dtm desc
  	</select>

	<select id="selectClassDetail" resultType="com.classboard.view.classList.vo.ClassVO">
		select cb.class_name
		     , cb.class_seq
				 , cb.class_content
				 , cb.in_id
				 , cb.in_dtm
				 , group_concat(c.word_seq) word_seq
		from tb_class_board cb left outer join tb_contain c on cb.class_seq = c.class_seq
		where c.class_seq = #{class_seq}
		group by c.class_seq
	</select>

	<select id="selectRelateClass" parameterType="com.classboard.view.classList.vo.ClassVO" resultType="com.classboard.view.classList.vo.RelateClassVO">
		select cb.class_name
				 , cb.class_seq
				 , cb.class_content
				 , cb.in_id
				 , cb.in_dtm
		from tb_class_board cb left join tb_contain c on cb.class_seq = c.class_seq
		where word_seq in
			    <foreach collection="wordList" item="arr" open="(" close=")" separator=",">
						#{arr}
					</foreach>
			and c.class_seq != #{class_seq}
			and c.contain_cnt > 1
		group by cb.class_seq, c.contain_cnt
		order by c.contain_cnt desc
	</select>

	<insert id="insertClass" parameterType="com.classboard.view.classList.vo.ClassVO" keyProperty="class_seq" useGeneratedKeys="true">
		insert into tb_class_board
		(
			  class_name
			, class_content
			, in_id
			, in_dtm
			, up_id
			, up_dtm
		) values
		(
			  #{class_name}
		  , #{class_content}
		  , #{in_id}
		  , now()
		  , #{up_id}
		  , now()
		)
	</insert>

	<select id="selectExceptionWord" resultType="com.classboard.view.classList.vo.WordVO">
		select exception_seq
				 , exception_name
		from tb_exception_word
		where delete_yn = 'N'
	</select>

	<select id="selectWord" resultType="com.classboard.view.classList.vo.WordVO">
		select word_seq
		     , word_name
		from tb_word
	</select>

	<insert id="insertWord" parameterType="java.util.Map">
		insert into tb_word
		(
		 word_name
		 , in_id
		 , in_dtm
		) values
		<foreach collection="wordList" item="word" separator=",">
			(#{word}, #{in_id}, NOW())
		</foreach>
	</insert>

	<insert id="insertContain" parameterType="com.classboard.view.classList.vo.ContainVO">
		insert into tb_contain
		(
		 		class_seq
			, word_seq
			, contain_cnt
			, in_id
			, in_dtm
		) values
		(
			#{class_seq}
		, #{word_seq}
		, #{contain_cnt}
		, #{in_id}
		, now()
		)
	</insert>
</mapper>
