<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>강의 추가 페이지</title>
</head>
<body>
<form>
  <table>
    <tbody>
      <tr>
        <th scope="row">제목</th>
        <td colspan="8">
          <input type="text" id="class_title" name="class_title"/>
        </td>
      </tr>
      <tr>
        <th scope="row">내용</th>
        <td >
          <textarea id="class_content" name="class_content"></textarea>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button">저장</button>
</form>
</body>
</html>